<app-column>
    <ng-container *ngIf="content$ | async as content; else loading">
      <app-container theme="light">
        <div class="container-inner form-search-container">
          <h1>
            {{ content.explore.title }}
          </h1>
          <app-data-form></app-data-form>
        </div>
      </app-container>
  
      <app-container [gap]="34">
        <h1>{{ content.dados.title }}</h1>
        <p class="subtitle">{{ content.dados.subtitle }}</p>
        <div *ngFor="let item of content.dados.items">
          <p>{{ item }}</p>
        </div>
      </app-container>
    </ng-container>

    <ng-template #loading>
      <app-container theme="light" fxFill>
        <mat-spinner></mat-spinner>
      </app-container>
    </ng-template>
  </app-column>
  